*{  
    /* 夜晚 */
    /* 背景色 */
    --bg-color:#171719;
    /* 卡片颜色 */
    --card-color: #141414;
    /* 文字颜色 */
    --text-color:#CFD3DC;
    /* 标题颜色 */
    --title-color:#fefeff;
    /* 导航active颜色 */
    --active-nav-color:#222124;


  


}